# SVM (Titanic)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
trainM=pd.read_csv(r'C:\Users\Nelson\Documents\Sync\Proj_Titanic\Datas\trainM.csv',thousands=',',decimal=',')
trainM=trainM.drop('Unnamed: 0',axis=1)
trainM

     Survived  Pclass  SibSp  Parch     Fare  Sex Encode  Embarked-2  Age-sep
0           0       3      1      0     7,25           1           2        1
1           1       1      1      0  712.833           0           0        3
2           1       3      0      0    7.925           0           2        2
3           1       1      1      0     53,1           0           2        3
4           0       3      0      0     8,05           1           2        3
..        ...     ...    ...    ...      ...         ...         ...      ...
886         0       2      0      0       13           1           2        2
887         1       1      0      0       30           0           2        1
888         0       3      1      2    23,45           0           2        2
889         1       1      0      0       30           1           0        2
890         0       3      0      0     7,75           1           1        2

[891 rows x 8 columns]

In [137]:
trainM.info()#El Fare no es nùmero

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   SibSp       891 non-null    int64
 3   Parch       891 non-null    int64
 4   Fare        891 non-null    object
 5   Sex Encode  891 non-null    int64
 6   Embarked-2  891 non-null    int64
 7   Age-sep     891 non-null    int64
dtypes: int64(7), object(1)
memory usage: 55.8+ KB

In [138]:
trainM['Fare']=trainM['Fare'].astype(float)#No me lo convierte a flotante

ValueError: could not convert string to float: '7,25'

In [139]:
trainM[trainM['Fare']=='7,25']#Tiene coma

     Survived  Pclass  SibSp  Parch  Fare  Sex Encode  Embarked-2  Age-sep
0           0       3      1      0  7,25           1           2        1
94          0       3      0      0  7,25           1           2        5
212         0       3      0      0  7,25           1           2        1
227         0       3      0      0  7,25           1           2        1
250         0       3      0      0  7,25           1           2        2
320         0       3      0      0  7,25           1           2        1
365         0       3      0      0  7,25           1           2        2
376         1       3      0      0  7,25           0           2        1
425         0       3      0      0  7,25           1           2        2
470         0       3      0      0  7,25           1           2        2
491         0       3      0      0  7,25           1           2        1
592         0       3      0      0  7,25           1           2        4
785         0       3      0      0  7,25           1           2        2

In [4]:
trainM['Fare'].replace(to_replace=r',',value=".",regex=True, inplace=True)
trainM# Lo arreglo con regex

     Survived  Pclass  SibSp  Parch     Fare  Sex Encode  Embarked-2  Age-sep
0           0       3      1      0     7.25           1           2        1
1           1       1      1      0  712.833           0           0        3
2           1       3      0      0    7.925           0           2        2
3           1       1      1      0     53.1           0           2        3
4           0       3      0      0     8.05           1           2        3
..        ...     ...    ...    ...      ...         ...         ...      ...
886         0       2      0      0       13           1           2        2
887         1       1      0      0       30           0           2        1
888         0       3      1      2    23.45           0           2        2
889         1       1      0      0       30           1           0        2
890         0       3      0      0     7.75           1           1        2

[891 rows x 8 columns]

In [143]:
trainM['Fare']=trainM['Fare'].astype(float)#Hay más problemas

ValueError: could not convert string to float: '1.465.208'

In [160]:
trainM[trainM['Fare']=='1.465.208']

Empty DataFrame
Columns: [Survived, Pclass, SibSp, Parch, Fare, Sex Encode, Embarked-2, Age-sep]
Index: []

In [5]:
trainM['Fare'].replace(to_replace='1.465.208',value='1465',regex=True, inplace=True)#Los tengo que cambiar 1x1 si le pongo to Numeric coerce me los hace nan y los conté son 23 pero cambiarlos a promedio es complicado porque son string

In [162]:
trainM.loc[31,'Fare']

1465.0

In [6]:
trainM['Fare'].replace(to_replace="2.475.208",value='2475',regex=True, inplace=True)

In [7]:
trainM['Fare'].replace(to_replace='5.123.292',value='5123',regex=True, inplace=True)

In [8]:
trainM['Fare'].replace(to_replace='1.534.625',value='1534',regex=True, inplace=True)

In [9]:
trainM['Fare'].replace(to_replace='1.356.333',value='1356',regex=True, inplace=True)

In [10]:
trainM['Fare'].replace(to_replace='1.108.833',value='1108',regex=True, inplace=True)

In [11]:
trainM['Fare'].replace(to_replace='1.648.667',value='1648',regex=True, inplace=True)

In [12]:
trainM['Fare'].replace(to_replace='2.217.792',value='2217',regex=True, inplace=True)

In [13]:
trainM['Fare'].replace(to_replace='2.113.375',value='2113',regex=True, inplace=True)

In [14]:
trainM['Fare']=trainM['Fare'].astype(float)

In [156]:
trainM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   SibSp       891 non-null    int64
 3   Parch       891 non-null    int64
 4   Fare        891 non-null    float64
 5   Sex Encode  891 non-null    int64
 6   Embarked-2  891 non-null    int64
 7   Age-sep     891 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 55.8 KB

In [17]:
trainM.to_csv('trainMF.csv')

In [6]:
from sklearn.model_selection import train_test_split

In [158]:
trainME=trainM.drop('Survived',axis=1)
y=trainM['Survived'] 
X=trainME
X

     Pclass  SibSp  Parch     Fare  Sex Encode  Embarked-2  Age-sep
0         3      1      0    7.250           1           2        1
1         1      1      0  712.833           0           0        3
2         3      0      0    7.925           0           2        2
3         1      1      0   53.100           0           2        3
4         3      0      0    8.050           1           2        3
..      ...    ...    ...      ...         ...         ...      ...
886       2      0      0   13.000           1           2        2
887       1      0      0   30.000           0           2        1
888       3      1      2   23.450           0           2        2
889       1      0      0   30.000           1           0        2
890       3      0      0    7.750           1           1        2

[891 rows x 7 columns]

In [159]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train

     Pclass  SibSp  Parch      Fare  Sex Encode  Embarked-2  Age-sep
599       1      1      0   569.292           1           0        4
830       3      1      0   144.542           0           0        1
306       1      0      0  1108.000           0           0        2
231       3      0      0     7.775           1           2        2
845       3      0      0     7.550           1           2        3
..      ...    ...    ...       ...         ...         ...      ...
106       3      0      0     7.650           0           2        1
270       1      0      0    31.000           1           2        2
860       3      2      0   141.083           1           2        3
435       1      1      2   120.000           0           2        1
102       1      0      1   772.875           1           2        1

[757 rows x 7 columns]

In [178]:
from sklearn.svm import SVC#Clasifico a lo bruto con linear y C=100#Casifico con Linear
clasificador1=SVC(C = 100, kernel = 'linear', random_state=42)
clasificador1.fit(X_train,y_train)

SVC(C=100, kernel='linear', random_state=42)

In [179]:
#Veo predic
predicTe1=clasificador1.predict(X_test)
predicTr1=clasificador1.predict(X_train)
scoreTr1=clasificador1.score(X_train,y_train)
scoreTr1

0.8031704095112285

In [180]:
scoreTe1=clasificador1.score(X_test,y_test)
scoreTe1

0.7985074626865671

In [181]:
#Clasifico con rbf y un C más chico
from sklearn.svm import SVC#Clasifico a lo bruto con linear y C=100#Casifico con Linear
clasificador2=SVC(C = 50, kernel = 'rbf', random_state=42)
clasificador2.fit(X_train,y_train)

SVC(C=50, random_state=42)

In [182]:
scoreTr2=clasificador2.score(X_train,y_train)
scoreTr2

0.6605019815059445

# Cross validation para el C

In [183]:
from sklearn.model_selection import RandomizedSearchCV
paramC={'C': np.logspace(-5, 7, 20)}
clasificadorCV=SVC( kernel = 'linear', random_state=42)
CV1=RandomizedSearchCV(estimator=clasificadorCV, param_distributions=paramC, cv=4,n_jobs=-1,return_train_score = True,scoring='accuracy',  random_state=42)
CV1.fit(X=X_train,y=y_train)

RandomizedSearchCV(cv=4, estimator=SVC(kernel='linear', random_state=42),
                   n_jobs=-1,
                   param_distributions={'C': array([1.00000000e-05, 4.28133240e-05, 1.83298071e-04, 7.84759970e-04,
       3.35981829e-03, 1.43844989e-02, 6.15848211e-02, 2.63665090e-01,
       1.12883789e+00, 4.83293024e+00, 2.06913808e+01, 8.85866790e+01,
       3.79269019e+02, 1.62377674e+03, 6.95192796e+03, 2.97635144e+04,
       1.27427499e+05, 5.45559478e+05, 2.33572147e+06, 1.00000000e+07])},
                   random_state=42, return_train_score=True,
                   scoring='accuracy')

In [184]:
resultados = pd.DataFrame(CV1.cv_results_)
resultados.filter(regex = '(param.*|mean_t|std_t)')\
    .drop(columns = 'params')\
    .sort_values('mean_test_score', ascending = False) \
    .head(5)

,param_C,mean_test_score,std_test_score,mean_train_score,std_train_score
6,88.586679,0.796561,0.018935,0.799210,0.005344
4,1.128838,0.788652,0.026076,0.789961,0.008363
5,0.014384,0.787309,0.028406,0.806256,0.005874
8,2335721.46909,0.772758,0.014889,0.782034,0.007618
1,545559.478117,0.768790,0.018843,0.781154,0.007504

In [185]:
print(CV1.best_params_, ":", CV1.best_score_, CV1.scoring)

{'C': 88.58667904100814} : 0.7965608465608467 accuracy

In [190]:
ClasificadorF=SVC(C = 89, kernel = 'linear', random_state=42)
ClasificadorF.fit(X_train,y_train)

SVC(C=89, kernel='linear', random_state=42)

In [192]:
scoreTrF=ClasificadorF.score(X_train,y_train)
scoreTrF

0.7939233817701453

In [194]:
scoreTeF=ClasificadorF.score(X_train,y_train)
scoreTeF

0.7939233817701453

In [195]:
y_pred=ClasificadorF.predict(X_test)

In [196]:
from sklearn.metrics import confusion_matrix
matriz = confusion_matrix(y_test, y_pred)
print('Matriz de Confusión:')
print(matriz)

Matriz de Confusión:
[[59 19]
 [12 44]]